#albums, #eps, #singles, #recommandations {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-around;
}

#contenu>*>h1 {
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

a {
    color: violet;
}