body>*{
    background-color: #121212;
}
aside {
    background-color: #1f1f1f;
    flex-basis: max-content;

}
nav li{
    margin: 1vw;
    padding: 1vw;
    border-radius: 5px;
    transition: 0.3s;
}
nav li:hover{
    background-color: #2c2e33;
    cursor: pointer;
}
nav a{
    display: flex;
    align-items: center;
}
nav li a{
    font-size: 2vw;
}
nav span{
    color: #fff;
    margin: 1vw;
    text-decoration: none;
}
nav object{
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    margin: 1rem;
}