#logo{
    width: 12.5vw;
}
nav{
    background-color: #1a1b25;
    display: flex;
    justify-content: center;
    border-bottom: white 0.5em solid;
}
body{
    background-color: #1a1b25;
}

#panel{
    background-color: #5d1cdf;
    padding: 2vw 10vw;
    border-radius: 10px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    justify-content: space-around; 
    margin: auto;
    margin-top: 3vw;
}
label{
    color: white;
    font-size: 2em;
    text-align: center;
}
h2{
    color: white;
    font-size: 3.5em;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
}
input,p.input{
    width: 20vw;
    padding: 0.5vw;
    border-radius: 5px;
    border: none;
    background-color: #1a1b25;
    color: white;
    font-size: 1.5em;
    border : 3px solid white;
}
input:hover,p.input:hover{
    background-color: white;
    color: #1a1b25;
    border: 3px solid #1a1b25;;
    transition: 400ms;
    box-shadow: 0px 0px 15px 1px white;
}
.separator{
    width: 0.5vw;
    height: 25vw;
    background-color: white;
    border: none;
    border-radius: 5px;
}

button{
    padding: 0.5vw;
    border-radius: 5px;
    border: none;
    background-color: #1a1b25;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: #1a1b25;
    transition: 700ms;
    box-shadow: 0px 0px 15px 1px white;

}
.mini{
    font-size: 1em !important;
}

*{
    font-family: 'Protest Riot', sans-serif;
}
.message{
    width: 100%;
    text-align: center;
}
.success{
    color: green;
}
.error{
    color: red;
}